.covid{
    
  /*  margin: 40px 400px 40px 400px;*/
    padding: 50px;
    font-size: 20px;
    font-weight: 500;
    color: palevioletred;
    background-color: black;
    width:30% ;
    margin: auto;
    margin-bottom: 25px;

}
span{
    font-size: 25px;
    font-weight: 700;
}