h3{
    text-align: center;
    font-size: 40px;
    color:rgb(153, 49, 84);;
    text-decoration: none;
    
}
.box{

    width: auto;
    background-color: black;
    
}
a {
    text-decoration: none;
}
input {
font-size: 40px;
color:rgb( 78, 22, 41);
text-decoration: none;
margin-top: 45px;
padding:none;
width: 205px;
border: none;
}
::placeholder{
    color:rgb(153, 49, 84);
    text-decoration: none;
    font-weight:bolder;
    font-size: 35px;
}

.logo{
    font-size: 80px;
    font-weight: bold;
    font-style:italic;
    text-align: center;
    color:rgb(153, 49, 84);
    margin-bottom: 30px;

}